.shadow {
  background: linear-gradient(
    to bottom,
    #0000006b 0%,
    #ffffff00 100%,
    #ffffff00 100%
  );
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 120px;
  z-index: 2;
}

.hero-container {
  position: relative;
  height: 85vh;
  width: 100%;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 85vh;
  object-fit: cover;
  object-position: bottom;
}

.flexible {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  & p {
    font-weight: 500;
    font-size: 0.9rem;
  }
  & button {
    padding: 1rem 2.45rem;
    border-radius: 3rem;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0px 6px 16px rgba($color: #000000, $alpha: 0.12);
    & span {
      font-weight: 600;
      font-size: 0.8rem;
      background: -webkit-linear-gradient(
        0deg,
        rgba(111, 1, 156, 1) 0%,
        rgba(198, 1, 126, 1) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.categories {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1600px;
  text-align: start;
  margin: 40px 0;
  & h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  grid-template-rows: 300px;
  gap: 10px;
  min-height: 310px;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  &.card {
    width: 100%;
    height: 100%;
  }

  .img {
    height: 90%;
    width: 90%;
    & img {
      border-radius: 10px;
      object-fit: cover;
      object-position: center;
    }
  }

  & h3 {
    font-weight: 500;
    font-size: 0.9rem;
  }
}

.wide-card {
  position: relative;
  margin-top: 3rem;
  & .desc {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    letter-spacing: 1px;
  }
  & h3 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 52px;
    & span {
      display: block;
    }
  }
  & p {
    padding-top: 10px;
    font-weight: 300;
    font-size: 0.9rem;
  }
  & img {
    border-radius: 10px;
    max-height: 480px;
    object-fit: cover;
  }
  & button {
    background-color: #222222;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.7rem 1.2rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
  }
}

.user-img {
  object-fit: cover;
}
