.stay-details {
	padding-top: 100px;
	h2 {
		font-weight: 500;
		font-size: 1.3rem;
		margin: 0;
	}

	.loader {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50% -50%);
	}

	p {
		font-weight: 400;
	}
	span {
		font-size: 0.75rem;
		font-weight: 500;
	}

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.details {
			i {
				color: #ff385c;
			}

			.details-reviews {
				color: rgb(113, 113, 113);
				text-decoration: underline;
			}

			.details-location {
				color: rgb(113, 113, 113);
				text-decoration: underline;
			}
		}

		.actions {
			display: flex;
			align-items: flex-start;
			gap: 15px;
			height: 20px;

			div {
				display: flex;
				align-items: center;
				align-content: center;

				i {
					margin-top: 0.2rem;
					font-size: 0.9rem;
				}

				button {
					color: rgb(34, 34, 34);
					text-decoration: underline;
					border: none;
					outline: none;
					background: none;
					font-size: 1.2rem;
					margin-left: 5px;
				}
			}
		}
	}
	.save,
	.share {
		display: flex;
		align-items: flex-start;
		height: 20px;
	}

	.images {
		display: flex;
		margin-top: 20px;
		margin-bottom: 50px;
		height: 350px;
		gap: 5px;

		& > img {
			width: calc(50% - 3.5px);
			border-radius: 15px 0 0 15px;
			margin-right: 5px;
			object-fit: cover;
		}

		.secondary {
			display: flex;
			flex-wrap: wrap;
			gap: 5px;
			img {
				width: calc(50% - 5px);
				height: calc(50% - 5px);
				object-fit: cover;
			}

			img:nth-of-type(2) {
				border-top-right-radius: 15px;
				margin-left: 5px;
				margin-bottom: 5px;
			}

			img:nth-of-type(4) {
				border-bottom-right-radius: 15px;
				margin-left: 5px;
			}
		}
	}

	.flex-container {
		display: flex;
		justify-content: space-between;
		position: relative;
		border-bottom: 1px solid rgba(50, 50, 50, 0.2);
		margin-bottom: 40px;
	}

	.stay-info {
		width: 58%;

		.info-header {
			display: flex;
			justify-content: space-between;
			padding: 20px 0;
			margin-bottom: 30px;
			border-bottom: 1px solid rgba(50, 50, 50, 0.2);

			h2 {
				font-size: 1.1rem;
			}

			span {
				display: inline-block;
				margin-bottom: 10px;
				font-size: 0.8rem;
				font-weight: 300;
			}

			img {
				border-radius: 50%;
				width: 60px;
				height: 60px;
				object-fit: cover;
			}
		}

		.info-about {
			margin-bottom: 30px;
			padding-bottom: 20px;
			border-bottom: 1px solid rgba(50, 50, 50, 0.2);

			h2 {
				font-size: 1.1rem;
				margin-bottom: 10px;
			}
			p {
				margin-bottom: 10px;
				font-size: 0.9rem;
				font-weight: 400;
				line-height: 24px;
			}
		}

		.amenities {
			margin-bottom: 30px;
			padding-bottom: 20px;

			h2 {
				font-size: 1.1rem;
				margin-bottom: 20px;
			}

			section {
				display: grid;
				gap: 15px;
				grid-template-columns: 1fr 1fr;
			}

			article {
				font-size: 0.9rem;
			}
		}
	}

	.host-info {
		margin-bottom: 40px;
		padding-bottom: 40px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 75px;
		p {
			font-size: 0.8rem;
			font-weight: 300;
			color: #000;
		}
		.left,
		.right {
			width: 40%;
		}
		.host-info-header {
			display: flex;
			align-items: center;
			margin-bottom: 10px;

			img {
				border-radius: 50%;
				width: 70px;
				height: 70px;
				object-fit: cover;
				margin-right: 25px;
			}

			div {
				display: flex;
				flex-direction: column;
				height: 60px;
				justify-content: space-between;
			}
			.host-name {
				font-size: 1.1rem;
			}
			p {
				font-size: 0.75rem;
				color: #717171;
			}
		}

		.badges {
			display: flex;
			margin-bottom: 50px;

			.star {
				display: flex;
				align-items: center;
				margin-inline-start: -5px;
				margin-top: 10px;
			}

			p {
				margin-right: 30px;
				display: flex;
				align-items: center;
				margin-bottom: 5px;

				span {
					font-size: 29px;
					margin-right: 10px;
					color: #ff385c;
				}
				svg {
					margin-right: 10px;
					height: 24px;
					width: 24px;
					color: #ff385c;
					margin-inline-start: 4px;
				}
			}
		}

		.host-details {
			p {
				margin-bottom: 10px;
				font-size: 0.8rem;
			}

			p:nth-child(2) {
				margin-bottom: 30px;
			}

			button {
				display: block;
				border: 1px solid #333;
				border-radius: 12px;
				padding: 0.65rem 1.3rem;
				margin-bottom: 30px;
				font-size: 0.75rem;
				font-weight: 500;
				background-color: #fefefe;

				&:hover {
					background-color: #eee;
				}
			}
		}

		.details-alert {
			display: flex;
			align-items: center;

			img,
			svg {
				margin-right: 20px;
				width: 25px;
				height: 25px;
			}

			small {
				max-width: 300px;
				font-size: 1rem;
				line-height: 1.4;
				font-size: 0.7rem;
				font-weight: 300;
				color: #000;
			}
		}
	}

	.no-reviews {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 40px;
		padding-left: 0;
	}

	.details-carousel {
		display: none;
	}
}

@include for-mobile-layout {
	.stay-details {
		padding-top: 100px;
		h2 {
			font-weight: 500;
			font-size: 1.3rem;
		}

		.loader {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50% -50%);
		}

		p {
			font-weight: 400;
		}
		span {
			font-size: 0.75rem;
			font-weight: 500;
		}

		.header {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;

			.details {
				i {
					color: #ff385c;
				}

				.details-reviews {
					color: rgb(113, 113, 113);
					text-decoration: underline;
				}

				.details-location {
					color: rgb(113, 113, 113);
					text-decoration: underline;
				}
			}

			.actions {
				display: flex;
				align-items: flex-start;
				gap: 15px;
				height: 20px;

				div {
					display: flex;
					align-items: center;
					align-content: center;

					i {
						margin-top: 0.2rem;
						font-size: 0.9rem;
					}

					button {
						color: rgb(34, 34, 34);
						text-decoration: underline;
						border: none;
						outline: none;
						background: none;
						font-size: 1.2rem;
						margin-left: 5px;
					}
				}
			}
		}
		.save,
		.share {
			display: flex;
			align-items: flex-start;
			height: 20px;
		}

		.images {
			display: none;
		}

		.flex-container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: relative;
			border-bottom: 1px solid rgba(50, 50, 50, 0.2);
			margin-bottom: 40px;
		}

		.stay-info {
			width: 100%;

			.info-header {
				display: flex;
				justify-content: space-between;
				padding: 20px 0;
				margin-bottom: 30px;
				border-bottom: 1px solid rgba(50, 50, 50, 0.2);

				h2 {
					font-size: 1.1rem;
				}

				span {
					display: inline-block;
					margin-bottom: 10px;
					font-size: 0.8rem;
					font-weight: 300;
				}

				img {
					border-radius: 50%;
					width: 60px;
					height: 60px;
					object-fit: cover;
				}
			}

			.info-about {
				margin-bottom: 30px;
				padding-bottom: 20px;
				border-bottom: 1px solid rgba(50, 50, 50, 0.2);

				h2 {
					font-size: 1.1rem;
					margin-bottom: 10px;
				}
				p {
					margin-bottom: 10px;
				}
			}

			.amenities {
				margin-bottom: 30px;
				padding-bottom: 20px;

				h2 {
					font-size: 1.1rem;
					margin-bottom: 20px;
				}

				section {
					display: grid;
					gap: 15px;
					grid-template-columns: 1fr;
				}

				article {
					font-size: 0.9rem;
				}
			}
		}

		.host-info {
			margin-bottom: 0px;
			padding-bottom: 10px;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: flex-start;
			gap: 0px;

			p {
				font-size: 0.8rem;
				font-weight: 300;
				color: #000;
			}

			.left,
			.right {
				width: 100%;
			}
			.host-info-header {
				display: flex;
				align-items: center;
				margin-bottom: 15px;

				img {
					border-radius: 50%;
					width: 70px;
					height: 70px;
					object-fit: cover;
					margin-right: 10px;
				}

				div {
					display: flex;
					flex-direction: column;
					height: 50px;
					justify-content: space-between;
				}

				.host-name {
					font-size: 1.1rem;
				}

				p {
					font-size: 0.75rem;
					color: #717171;
				}
			}

			.badges {
				flex-direction: column;
				margin-bottom: 20px;
			}

			.host-details {
				p {
					margin-bottom: 10px;
					font-size: 0.8rem;
				}

				p:nth-child(2) {
					margin-bottom: 20px;
				}

				button {
					display: block;
					border: 1px solid #333;
					border-radius: 12px;
					padding: 0.65rem 1.3rem;
					margin-bottom: 20px;
					font-size: 0.75rem;
					font-weight: 500;
					background-color: #fefefe;

					&:hover {
						background-color: #eee;
					}
				}
			}

			.details-alert {
				display: flex;
				align-items: center;

				img,
				svg {
					margin-right: 20px;
					width: 25px;
					height: 25px;
				}

				small {
					max-width: 300px;
					font-size: 1rem;
					line-height: 1.4;
					font-size: 0.7rem;
					font-weight: 300;
					color: #000;
				}
			}
		}

		.no-reviews {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			padding: 40px;
			padding-left: 0;
		}
	}

	.host-description {
		text-overflow: ellipsis;
		margin-bottom: 10px;
	}

	.details-carousel {
		display: block !important;
		border-radius: 15px;
		margin-top: 20px;

		img {
			object-fit: cover;
		}

		ul {
			display: flex;
			justify-content: center;
		}
	}
}
