.user-profile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;

  .profile-card {
    position: sticky;
    top: 105px;
    min-width: 310px;
    width: 25%;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 15px;
    padding: 1.2rem;
    margin-right: 40px;

    div:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    p {
      font-size: 0.7rem;
      font-weight: 500;
      line-height: 26px;
      color: #222;
      text-decoration: underline;
    }

    div:nth-of-type(2) {
      display: flex;
      flex-direction: column;
      align-items: center;

      .add-stay {
        padding: 1rem 1.7rem;
        border-radius: 10px;
        font-size: 0.8rem;
        margin-top: 2rem;
        color: #ff385c;
        border: 1px solid #ccc;
        background-color: #fff;

        &:hover {
          background-color: #eee;
        }
      }
    }
  }

  div.error {
    color: #ff4444;
    td:nth-of-type(6) {
      .cell {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  .data {
    width: 77%;
    padding-top: 100px;

    h2 {
      font-weight: 500;
      font-size: 1.2rem;
    }
    & > section {
      border-bottom: 1px solid rgba(50, 50, 50, 0.1);
      margin-bottom: 20px;
      padding: 10px;
    }
  }

  .statistics {
    display: flex;
    gap: 20px;
    p {
      font-size: 0.8rem;
      span {
        font-weight: 600;
        font-size: 0.9rem;
      }
    }
  }
}
