header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-height: 80px;
  background-color: transparent;
  color: #fff;
  letter-spacing: 0.1px;
  &.scrolled {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
    background-color: #fff;
    color: rgb(14, 14, 14);
    & h1 {
      height: 31px;
      line-height: 31px;
      font-size: 1.3rem;
      color: #ff385c;
    }
    & .icon {
      color: #ff385c;
      font-size: 1.8rem;
    }
    & .i18n {
      color: #000;
    }
    .header-search {
      top: 5px;
      width: 300px;
      z-index: 3;
    }
  }
  z-index: 3;
}

.heder-container {
  max-width: 1760px;
  min-height: 80px;
  padding: 0 80px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.logo {
  a {
    display: flex;
    align-items: flex-end;
    gap: 5px;
  }
  & img {
    width: 30px;
    height: 31px;
    fill: white;
    color: white;
  }
  & h1 {
    height: 32px;
    line-height: 31px;
    font-size: 1.1rem;
    font-weight: 600;
    vertical-align: middle;
  }
  & .icon {
    font-size: 1.8rem;
  }
}

.nav {
  padding: 30px;
  a {
    font-weight: bold;

    &.router-link-exact-active {
      color: #ff385c;
    }
  }
}

.header-controls {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 20px;
  & .i18n {
    color: #fff;
    background-color: transparent;
    height: 1rem;
    & span {
      font-size: 1rem;
    }
  }
  & a {
    font-size: 0.7rem;
    font-weight: 500;
  }
  & .profile-btn {
    cursor: pointer;
    display: flex;
    background-color: #fff;
    color: #222;
    border: 1px solid rgba(204, 204, 204, 0.564);
    border-radius: 2rem;
    width: 75px;
    height: 40px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    & span {
      font-size: 0.9rem;
    }
    & img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    &:hover {
      box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.18);
    }
  }
}

.profile-menu {
  background-color: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 70px;
  right: 80px;
  width: 220px;
  border-radius: 15px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  a,
  button {
    padding: 12px 15px;
    text-align: left;
    background-color: white;
    font-weight: 500;
    &:hover {
      background-color: #f3f3f3;
    }
  }
  span {
    color: #222;
  }
}

// search on header
.header-search {
  position: relative;
  top: 75px;
  // width: 300px;
  width: 600px;
  border-radius: 3rem;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  transition: 0.3s;
  &:hover {
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.2);
  }
  input {
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    font-size: 1rem;
    padding: 7px 5px;
    border: 1px solid #dadada;
    text-indent: 10px;
    outline: none;
  }
  button {
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    max-height: 35px;
    max-width: 35px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    img {
      height: 20px;
      width: 20px;
    }
  }
}
