.profile-stay-table {
  li {
    div:first-of-type {
      width: 220px;
    }
    div:nth-of-type(2) {
      width: 100px;
    }

    button {
      width: 100%;
      padding: 0;
      height: 30px;
      margin: 0;
    }
  }
}

.actions-td {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  .actionsBtn {
    background-color: transparent;
    span {
      font-size: 1.5rem;
    }
  }
}

.actionsModal {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 50px;
  top: 0;
  background-color: #fff;
  width: 50px;
}
