.stay-checkout {
	position: sticky;
	top: 100px;
	width: 30%;
	padding: 30px;
	border-radius: 15px;
	box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2), -1px -1px 0 0 rgba(0, 0, 0, 0.2);
	height: fit-content;

	.checkout-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;

		p:nth-of-type(1) {
			.price {
				font-size: 1.8rem;
				color: #000;
				font-weight: bolder;
			}
		}

		p:nth-of-type(2) {
			i {
				color: #ff385c;
				font-size: 1.4rem;
			}
			span {
			}
		}
	}

	.pickers {
		margin-bottom: 20px;

		.block {
			.el-date-table {
				td.end-date,
				td.start-date {
					span {
						background-color: red !important;
					}
				}
			}

			.el-date-table {
				td.today {
					span {
						color: red;
					}
				}
			}
		}
	}

	button {
		width: 100%;
		padding: 1rem 0;
		font-size: 1.5rem;
		border-radius: 10px;
		background-color: #ff385c;
		color: #fafafa;
		--x: 3px;
		--y: 3px;

		position: relative;
		appearance: none;
		border: none;
		font-size: 1.2em;
		cursor: pointer;
		outline: none;
		overflow: hidden;
		border: 2px #ffa85c solid;
		box-shadow: 1px 1px 9px #ffa85c;

		span {
			position: relative;
			pointer-events: none;
		}

		&::before {
			--size: 0;
			content: '';
			position: absolute;
			left: var(--x);
			top: var(--y);
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-color: rgba(255, 168, 92, 0.6);
			box-shadow: 3px 3px 40px 20px rgba(0, 0, 0, 0.2);
			transform: translate(-50%, -50%);
			transition: width 0.2s ease, height 0.2s ease;
		}
		&:hover::before {
			--size: 400px;
		}
	}
}
