.stay-card-container{
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-bottom: 10px;
    padding:3px;
    text-align: left;
    
    .star-icon{
        color:#ff385c;
    }

    .img-carousell{
        width: 270px;
    }

    img{
        max-width:250px;
        min-height:170px;
        object-fit: cover;
        border-radius: 6px;
        &:hover{
            cursor: pointer;
        }
    }

    span{
        font-weight: bold;
    }
    
}